Source: libspotify
Priority: extra
Maintainer: Stein Magnus Jodal <stein.magnus@jodal.no>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Section: libs
Homepage: http://developer.spotify.com/en/libspotify/
Vcs-Git: git://github.com/mopidy/libspotify-deb.git
Vcs-Browser: http://github.com/mopidy/libspotify-deb

Package: libspotify-dev
Section: libdevel
Architecture: any
Depends: libspotify6 (= ${binary:Version})
Description: Library for using the Spotify music streaming service
 This development package provides the header files and the symbolic links to
 allow compilation and linking of programs that use the libraries provided in
 the libspotify6 package.

Package: libspotify6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for using the Spotify music streaming service
 The libspotify C API package allows third party developers to write
 applications that utilize the Spotify music streaming service.
