#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

prefix = ${CURDIR}/debian/tmp/usr

%:
	dh --with quilt $@

override_dh_auto_install:
	make -C ${DEB_HOST_ARCH} install prefix=${prefix}
	sed -i -e s:${prefix}:/usr:g ${prefix}/lib/pkgconfig/libspotify.pc

override_dh_installchangelogs:
	dh_installchangelogs ${DEB_HOST_ARCH}/ChangeLog
